<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="public/imga/a5.jpg">
    <link rel ="stylesheet" href="public/css/style.css"> 
</head>
<body>
    <div class="main-content">
    {{>header}}

    <p>Use this to get the weather</p>
     <img class="aboutimg" src="/public/imga/a2.jpg" alt="Missing Img" height="200px" width="300px" id="aboutimg">
    </div>
   
    {{>footer}}
</body>

</html>