<!DOCTYPE html>

<html>
<head>
    <title>Help</title>
    <link rel="icon" href="public/imga/a5.jpg">
    <link rel ="stylesheet" href="public/css/style.css"> 
</head>
<body>
    <div class="main-content">
    {{>header}}

    <p>{{helpText}}</p>
    </div>
    
    {{>footer}}
</body>

</html>